<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>650263135601-9qv300qkct66tnkgpblmnjuchepn3k3e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.650263135601-9qv300qkct66tnkgpblmnjuchepn3k3e</string>
	<key>API_KEY</key>
	<string>AIzaSyAfy_8uBgqrAtZuB-oMYS9ldSGvUX6SGAs</string>
	<key>GCM_SENDER_ID</key>
	<string>650263135601</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mama.SignInFirebase</string>
	<key>PROJECT_ID</key>
	<string>signin-32973</string>
	<key>STORAGE_BUCKET</key>
	<string>signin-32973.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:650263135601:ios:21914d03193787af</string>
	<key>DATABASE_URL</key>
	<string>https://signin-32973.firebaseio.com</string>
</dict>
</plist>