<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>login1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6CEF94391DD34D600028C254</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6CEF944D1DD34D610028C254</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6CEF94581DD34D610028C254</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
